<jhi-new-gamer-popup [addGamer]="addGamer"></jhi-new-gamer-popup>
<table class="table" *ngIf="gamers?.length > 0">
    <thead>
    <tr>
        <th jhiTranslate="gamer.table.username">Gamer</th>
        <th jhiTranslate="gamer.table.email">Likes</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gamer of gamers">
        <td>{{gamer.gamer}}</td>
        <td>{{gamer.like}}</td>
        <td>{{gamer.dislike}}</td>
        <td>
            <button routerLink="/gamer/{{gamer.gamerId}}"
                    class="btn btn-primary btn-sm">
                <span class="hidden-md-down" jhiTranslate="entity.action.detail">Detail</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<template ngbModalContainer></template>
