
<div *ngIf="gamer">
    <h2><span jhiTranslate="gatewayApp.gamer.detail.title">Demo</span> {{gamer.uuid}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.gamer.name">Name</span></dt>
        <dd>
            <span>{{gamer.username}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.gamer.email">Email</span></dt>
        <dd>
            <span>{{gamer.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gamer/'+ gamer.uuid + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
